<div class="feedback-wrap">
  <div class="feedback-head">
    <div back-icon class="iconfont icon-back icon-left" back-icon></div>
    <div class="icon-middle">意见反馈</div>
    <div class="iconfont icon-right submitBtn">提交</div>
  </div>
  <div class="">
    <div class="textareaCont">
      <textarea class="feedback-cont" placeholder="您的意见或建议是我们不断前进的巨大动力"></textarea>
    </div>
    <p class="phonetitle">手机号码<span>(可选)</span></p>
    <input placeholder="请留下您的联系方式,方便我们与您联系" type="number"/>
  </div>
</div>
