.recommendCategoryCont {
    margin: -10px;
    background: #fff;
}

.recommendCategoryCont .recommendCateTitle {
    /* display: flex; */
    position: relative;
    height: 24px;
    line-height: 24px;
    background: #efefef;
    font-size: 12px;
    color: #333;
    padding: 0 10px;
    justify-content: space-between;
}

.recommendCategoryCont .recommendCateTitle h3 {
    font-weight: normal;
}

.recommendCategoryCont .recommendCateTitle span {
    position: absolute;
    top: 0;
    right: 10px;
    color: #bbb;
    transform: rotate(-90deg);
    font-size: 12px;
    background: #efefef;
}

.recommendCategoryCont .recommendCateColumn {
    padding: 0 10px;
}

.recommendCategoryCont .recommendCateColumn .recommendCateGood {
    position: relative;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
}

.recommendCategoryCont .recommendCateColumn .recommendCateGood:last-child {
    border-bottom-width: 0px;
}

.recommendCategoryCont .recommendCateColumn .imgCont {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../img/skuDefault.png');
    position: relative;
}

.recommendCategoryCont .recommendCateColumn .details {
    position: absolute;
    left: 110px;
    right: 0;
    bottom: 10px;
    top: 10px;
}

@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
    .recommendCategoryCont .recommendCateColumn .imgCont {
      width: 80px;
      height: 80px;
    }

   .recommendCategoryCont .recommendCateColumn .details {
      left: 90px;
   }
}
