@charset "UTF-8";
body,
button,
dd,
dl,
dt,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
nav,
ol,
p,
td,
textarea,
tr,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

form {
    display: inline;
}

ol,
ul {
    list-style: none;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

a:active,
a:focus,
a:hover {
    color: #1c5aa2;
    text-decoration: none;
}

a:active {
    color: #aaa;
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
    font-size: 100%;
    vertical-align: middle;
    outline: 0;
}

textarea {
    resize: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
}

input:focus:-moz-placeholder,
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    clear: all;
}

html {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    box-sizing:border-box;
}

::-webkit-scrollbar {
    display: none;
}

.cf:after,
.cf:before,
.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
}

.cf:after,
.clearfix:after {
    clear: both;
}

.ui-clear {
    clear: both;
}

.ui-float-left {
    float: left;
}

.ui-float-right {
    float: right;
}

.ui-hide {
    display: none;
}

.show {
    display: block;
}

.ui-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-break {
    word-break: break-all;
    word-wrap: break-word;
}

.ui-graybox {
    border: solid 1px #efefef;
}

.ui-colorblue {
    color: #00f;
}

.ui-colorred {
    color: red;
}

.ui-hidden {
    visibility: hidden;
}

.ui-underline {
    text-decoration: underline;
}

.ui-text-right {
    text-align: right;
}

.ui-nowrap {
    white-space: nowrap;
}

.ui-bluelink {
    color: #00f;
    text-decoration: underline;
}

body,
html {
    background: #fff;
    height: 100%;
    font: 10px '微软雅黑', Helvetica, Tahoma, Arial, sans-serif;
}

html {
    position: relative;
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
}

body {
    min-width: 320px;
}

@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
    body,
    html {
        font: 8px '微软雅黑', Helvetica, Tahoma, Arial, sans-serif;
    }
}

.mod-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.priceCont {
    height: 3.6rem;
    line-height: 3.6rem;
    clear: both;
}

.priceCont .new-price,
.priceCont .aggregate-price {
    color: #ff5300;
    font-size: 1.2rem;
    padding-right: 0.5rem;
    float: left;
}

.priceCont .new-price i,
.priceCont .aggregate-price i {
    font-style: normal;
    font-size: 1.8rem;
}

.priceCont .old-price {
    float: left;
    color: #91959d;
    font-size: 1.2rem;
    text-decoration: line-through;
    padding-top: 0.3rem;
    line-height: 3.2rem;
}

.priceCont .aggregate-price {
    font-size: 1.8rem;
}

.label {
    display: inline-block;
    padding: 0 0.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.1rem;
    border: #ccc solid 1px;
}

.label.ldc {
    border-color: #26adf0;
    color: #26adf0;
}

.label.rdc {
    border-color: #2cdb46;
    color: #2cdb46;
}

.iconfont.buy-icon {
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #fff;
    font-size: 3.6rem;
    line-height: 1;
    color: #fc541f;
}

p.goodname {
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    font-size: 1.3rem;
    color: #333;
    overflow: hidden;
    padding: 0.5rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sk-icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 2.3rem;
    line-height: 3.7rem;
    border: solid 1px #ff5300;
    border-radius: 37px;
    width: 3.7rem;
    color: #ff5300;
    text-align: center;
}

.sk-icon.disabled {
    color: #cccccc;
    border-color: #cccccc;
}

.sk-end,
.sold-out,
.sold-geted {
    border-radius: 3px;
    border: 1px solid #ff5300;
    -webkit-transform: rotate(-30deg);
    -webkit-transform-origin: 30px 15px;
    text-align: center;
    color: #ff5300;
    right: 0px;
    position: absolute;
    bottom: 10px;
    line-height: 2rem;
    height: 20px;
    font-size: 1.5rem;
    /* padding: 0 5px; */
    bottom: 50px;
    width: 55px;
    text-align: center;
}

.sold-geted {
    color: #fc541f;
    border-color: #fc541f;
}

@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
    .sk-end,
    .sold-out,
    .sold-geted {
        bottom: 34px;
    }
}

