.skWrap{
    position: absolute;
    top: 4.4rem;
    bottom: 4.5rem;
    overflow-y: auto;
}
.skactiveGoodList {
    min-height: 1px;
}

.skactiveGoodList li {
    padding: 2px 10px;
    background: #fff;
}

.skactiveGoodList li > .goodItem {
    border-bottom: #ddd solid 1px;
    /* display: flex; */
    overflow: hidden;
}

.skactiveGoodList li > .goodItem .imgCont {
    width: 100px;
    height: 100px;
    /* background-size: auto 100%; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../img/skuDefault.png');
    position: relative;
    float: left;
}

.skactiveGoodList li > .goodItem .imgCont .countdown {
    background: #ffe8df;
    color: #ff5300;
    opacity: 0.9;
    font-size: 1rem;
    width: 100%;
    text-align: center; 
    height: 1.7rem;
    line-height: 1.7rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

.skactiveGoodList li > .goodItem .details {
    position: relative;
    padding: 5px 10px;
    width: 58%;
    /* flex-grow: 1; */
    float: right;
}

.skactiveGoodList li > .goodItem .details p.goodname {
    line-height: 1.7rem;
    height: 3.2rem;
    overflow: hidden;
    font-size: 1.4rem;
    color: #3a404b;
    overflow: hidden;
}

.skactiveGoodList li > .goodItem .details .priceCont {
    height: 32px;
    line-height: 32px;
    clear: both;
}

.skactiveGoodList li > .goodItem .details .priceCont .new-price,
.skactiveGoodList li > .goodItem .details .priceCont .aggregate-price {
    color: #fc541f;
    font-size: 1.3rem;
    padding-right: 5px;
    float: left;
}

.skactiveGoodList li > .goodItem .details .priceCont .new-price i,
.skactiveGoodList li > .goodItem .details .priceCont .aggregate-price i {
    font-size: 2.3rem;
    font-style: normal;
    padding: 0 5px;
}

.skactiveGoodList li > .goodItem .details .priceCont .old-price {
    float: left;
    color: #91959d;
    font-size: 1.3rem;
    line-height: 3.2rem;
    text-decoration: line-through;
}

.skactiveGoodList li > .goodItem .details .priceCont .aggregate-price {
    font-size: 18px;
}
