$nowPriceColor: #fc541f;
$disabledColor:#cccccc;
.skactiveGoodList {
  margin-top: 45px;
  min-height: 1px;
}
.skactiveGoodList {
  margin-bottom: 45px;
  li {
    padding:5px 10px;
    background: #fff;
    >.goodItem {
      border-bottom: #ddd solid 1px;
      display: flex;
      .imgCont {
        width:120px;
        height:120px;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        .countdown{
            background:#ffeae2;
            color:$nowPriceColor;
            font-size:14px;
            width:100%;
            text-align: center;
            height: 24px;
            line-height: 24px;
            position: absolute;
            left:0;
            right:0;
            bottom:5px;
        }
      }
      .details {
        position: relative;
        padding: 5px 10px;
        flex-grow: 1;
        p.goodname {
          padding: 3px 0;
          line-height: 18px;
          height: 42px;
          overflow: hidden;
          font-size: 14px;
          color: #333;
          overflow: hidden;
        }
        .priceCont {
          height: 32px;
          line-height: 32px;
          clear: both;
          .new-price {
            color: $nowPriceColor;
            font-size: 14px;
            padding-right: 5px;
            float: left;
            i {
              font-size: 24px;
              font-style: normal;
              padding: 0 5px;
            }
          }
          .old-price {
            float: left;
            color: #aaa;
            font-size: 14px;
            line-height: 40px;
            text-decoration: line-through;
          }
          .aggregate-price {
            @extend .new-price;
            font-size:18px;
          }
        }
      }
    }
  }
}
