<div class="pub-header" ng-controller="nav.headCtrl">

  <div class="iconfont icon-feedback" ng-click="gotoFeedback();"></div>
  <div class="location-info" ng-click="gotoLocate();">{{schoolname}}</div>
  <div class="iconfont icon-user"></div>

</div>
<div class="list-main main-both">
  <div class="list-category" ng-controller="nav.listCtrl">
    <ul>
      <li ng-repeat="nav in navs" ng-class="{'nav-checked':navChecked(nav)}" class="nav  nav-super nav-mark-{{nav.labelType}}" ng-click="goto(nav);" ng-if="nav.displayType!=3">{{nav.navigateName}}</li>
     <li  class="nav nav-super" ng-init="isShowSub=true;">
        <p class="arrow-down" ng-class="{'arrow-up':!isShowSub}" ng-click="isShowSub=!isShowSub;">聚类导航</p>
        <ul ng-show="isShowSub">
          <li ng-click="goto(subnav);" class="nav-sub nav-mark-{{nav.labelType}}" ng-class="{'nav-checked':subnav.categoryId==curcategoryId}" ng-if="subnav.displayType==3" class="nav-sub" ng-repeat="subnav in navs">{{subnav.navigateName}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="list-product" ui-view></div>
</div>
